<main class="main">
  @if (!isGameStarted()) {
    <div class="selector">
      <h1>Spielbrett-Größe wählen</h1>
      <div class="options">
        <button (click)="startGame(3)" class="size-btn">3×3</button>
        <button (click)="startGame(6)" class="size-btn">6×6</button>
        <button (click)="startGame(9)" class="size-btn">9×9</button>
      </div>
    </div>
  } @else {

    <div class="overlay" [class.show]="overlayShown()">
      <img [src]="angryImageSrc" alt="Ojisan Overlay" />
    </div>

    <div class="board" [style.--grid-size]="cols().length">
      @for (r of rows(); track $index; let rIndex = $index) {
        @for (c of cols(); track $index; let cIndex = $index) {
          <div
            class="cell"
            [class.special]="isSpecial(rIndex, cIndex)"
            [class.revealed]="isRevealed(rIndex, cIndex)"
            (click)="reveal(rIndex, cIndex)"
            [attr.data-coord]="'(' + rIndex + ',' + cIndex + ')'">
            <img [src]="imageSrc" alt="Ojisan Kachel" />
          </div>
        }
      }
    </div>
  }
